
:root {
    --baby-pink-color: rgb(255, 186, 252);
    --deep-purple-color: rgb(72, 7, 69);
}

* {
    box-sizing: border-box;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    background: var(--deep-purple-color);
    font-size: 1.3em;
    line-height: 1.5em;
}

section {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--baby-pink-color);
}

form button {
    border: none;
    background: var(--deep-purple-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30 px;
}

form button:hover {
    background: var(--baby-pink-color);
}


.paragrafo-resultado, .bad {
    background: rgb(181, 255, 149);
    padding: 10px 20px;
}

.bad {
    background:  #ff7a7a;
}



.list div {
    float: left;
}

.sedan-sc-regular {
   font-family: "Sedan SC", serif;
   font-weight: 400;
   font-style: normal;
 } 